.carousel {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.carousel .slick-list {
    overflow: visible !important;
}

.slick-slide {
    transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
    transform: scale(0.65) rotateY(10deg);
    opacity: 0.5;
    filter: blur(2px);
}


.slick-center {
    transform: scale(0.9) rotateY(0deg);
    opacity: 1;
    filter: none;
    z-index: 10;
}

.slick-slide > div {
    padding: 0 10px; /* petit espacement horizontal */
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.slick-prev, .slick-next {
    z-index: 2;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-prev:before,
.slick-next:before {
    content: "" !important;
}

.slick-center:hover {
    transform: scale(1);
}

.carousel::before {
    content: "";
    position: absolute;
    border-radius: 70px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(255, 0, 0, 0.2));
    filter: blur(2px);
    transform: scale(1);
}